<header class="text-gray-600 body-font ">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a [routerLink]="" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" (click)="showLanding()">
      
      <span class="ml-3 text-xl">Somya Burman</span>
    </a>
    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
      <a [routerLink]="" class="mr-5 hover:text-gray-900" (click)="showMerch()">Merchandise
        
      </a>
      <a [routerLink]="" class="mr-5 hover:text-gray-900" (click)="showPaintings()">Paintings</a>
      <a [routerLink]="" class="mr-5 hover:text-gray-900" (click)="showComics()">Comics</a>
      <a [routerLink]="" class="mr-5 hover:text-gray-900" (click)="showCollaborations()">Collaborations</a>
    </nav>
    <button (click)="submitQuery()" class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Get in touch
      
    </button>
    
  </div>
  
 
</header>

<div *ngIf=showLandingVal>
  <app-landing></app-landing>
</div>
<div *ngIf="showMerchVal">
  <app-merchandise></app-merchandise>
</div>
<div *ngIf="showPaintingsVal">
  <app-paintings></app-paintings>
</div>
<div *ngIf="showComicsVal">
  <app-comics></app-comics>
</div>
<div *ngIf="showCollaborationsVal">
  <app-collaborations></app-collaborations>
</div>
<div *ngIf="submitQueryVal">
  <app-query></app-query>
</div>




<footer class="text-gray-600 body-font">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <p class="text-sm text-gray-500">www.somyaburman.com</p>
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">Designed and developed by Somya Burman
      <a href="https://www.instagram.com/penfreak_/" target="_blank" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@penfreak_</a>
    </p>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
      
      <a href="https://www.instagram.com/penfreak_/" target="_blank" class="ml-3 text-gray-500">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
          <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
        </svg>
      </a>
      <a href="https://www.linkedin.com/in/somya-burman-32955913a/" target="_blank" class="ml-3 text-gray-500">
        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
          <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
          <circle cx="4" cy="4" r="2" stroke="none"></circle>
        </svg>
      </a>
      <a href="mailto:somya.burman.sb@gmail.com" target="_blank" class="ml-3 text-gray-500">
        Email
      </a>

      
    </span>
  </div>
</footer>