<section class="text-gray-600 body-font">
    <div class="container px-5 py-4 mx-auto">
        <h2 class="text-gray-900 title-font text-lg font-medium">Mandalas</h2>
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">            
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Mandalas/man3.jpg">
          </a>
          <div class="mt-4">
           
            <p class="mt-1">Black and white mandala</p>
          </div>
          
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Mandalas/man2.jpg">
          </a>
          <div class="mt-4">
            
            <p class="mt-1">Painted with real coffee</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Mandalas/man4.jpg">
          </a>
          <div class="mt-4">
            
            <p class="mt-1">Golden and purple on black</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Mandalas/man5.jpg">
          </a>
          <div class="mt-4">
            
            <p class="mt-1">Golden on black</p>
          </div>
        </div>
        </div>
    </div>
</section>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-4 mx-auto">
        <h2 class="text-gray-900 title-font text-lg font-medium">Watercolor Paintings</h2>
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">            
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Watercolor/zen1.jpg">
          </a>
          <div class="mt-4">
           
            <p class="mt-1">Floral boquet</p>
          </div>
          
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Watercolor/zen12.jpg">
          </a>
          <div class="mt-4">
            
            <p class="mt-1">Birds and branches</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Watercolor/zen2.jpg">
          </a>
          <div class="mt-4">
            
            <p class="mt-1">Beach scene</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a class="block relative h-48 rounded overflow-hidden">
              <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Watercolor/zen3.jpg">
            </a>
            <div class="mt-4">
              
              <p class="mt-1">Purple roses</p>
            </div>
          </div>
          
         
          <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a class="block relative h-48 rounded overflow-hidden">
              <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Watercolor/zen7.jpg">
            </a>
            <div class="mt-4">
              
              <p class="mt-1">Orange flowers</p>
            </div>
          </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Watercolor/zen20.jpg">
          </a>
          <div class="mt-4">            
            <p class="mt-1">Narrow stream</p>
          </div>
        </div>
        </div>
        
    </div>
</section>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-4 mx-auto">
        <h2 class="text-gray-900 title-font text-lg font-medium">Acrylics</h2>
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">            
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Acrylic/zen10.jpg">
          </a>
          <div class="mt-4">
           
            <p class="mt-1">Sunflower fields enclosed in Mandala</p>
          </div>
          
        </div>
        
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Acrylic/zen13.jpg">
          </a>
          <div class="mt-4">
            
            <p class="mt-1">Reflection -1</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a class="block relative h-48 rounded overflow-hidden">
              <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Acrylic/zen17.jpg">
            </a>
            <div class="mt-4">
              
              <p class="mt-1">Reflection -2</p>
            </div>
          </div><div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a class="block relative h-48 rounded overflow-hidden">
              <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Acrylic/zen18.jpg">
            </a>
            <div class="mt-4">
              
              <p class="mt-1">Palm trees on a windy day</p>
            </div>
          </div>
          <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a class="block relative h-48 rounded overflow-hidden">
              <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Acrylic/zen4.jpg">
            </a>
            <div class="mt-4">
              
              <p class="mt-1">A feeling of Home</p>
            </div>
          </div>
          <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a class="block relative h-48 rounded overflow-hidden">
              <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Acrylic/zen15.jpg">
            </a>
            <div class="mt-4">
              
              <p class="mt-1">Beach on a keyring </p>
            </div>
          </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Acrylic/zen5.jpg">
          </a>
          <div class="mt-4">
            
            <p class="mt-1">Sunset on the beach </p>
          </div>
        </div>
        </div>
    </div>
</section>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-4 mx-auto">
        <h2 class="text-gray-900 title-font text-lg font-medium">Doodles</h2>
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">            
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Doodles/dood2.jpg">
          </a>
          <div class="mt-4">
           
            <p class="mt-1">Buildings</p>
          </div>
          
        </div>
        
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Doodles/dood3.jpg">
          </a>
          <div class="mt-4">
            
            <p class="mt-1">Faces</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a class="block relative h-48 rounded overflow-hidden">
              <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Doodles/dood4.jpg">
            </a>
            <div class="mt-4">
              
              <p class="mt-1">Stippling</p>
            </div>
          </div>
        </div>
    </div>
</section>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-4 mx-auto">
        <h2 class="text-gray-900 title-font text-lg font-medium">Zentangles</h2>
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">            
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Zentangles/zen.jpg">
          </a>
          <div class="mt-4">
           
            <p class="mt-1">Patterns</p>
          </div>
          
        </div>
        
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Zentangles/zen21.jpg">
          </a>
          <div class="mt-4">
            
            <p class="mt-1">African Tribal art</p>
          </div>
        </div>
        
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a class="block relative h-48 rounded overflow-hidden">
              <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Zentangles/zen23.jpg">
            </a>
            <div class="mt-4">
              
              <p class="mt-1">Splash of colors</p>
            </div>
          </div>
          <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a class="block relative h-48 rounded overflow-hidden">
              <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Zentangles/zen25.jpg">
            </a>
            <div class="mt-4">
              
              <p class="mt-1">Banyan leaf </p>
            </div>
          </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Zentangles/zen26.jpg">
          </a>
          <div class="mt-4">
            
            <p class="mt-1">Panda</p>
          </div>
        </div>
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a class="block relative h-48 rounded overflow-hidden">
              <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Zentangles/zen27.jpg">
            </a>
            <div class="mt-4">
              
              <p class="mt-1">Unicorn</p>
            </div>
          </div>
          <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a class="block relative h-48 rounded overflow-hidden">
              <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Zentangles/zen22.jpg">
            </a>
            <div class="mt-4">
              
              <p class="mt-1">Tanpura Vaadak</p>
            </div>
          </div>
        </div>
    </div>
</section>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-4 mx-auto">
        <h2 class="text-gray-900 title-font text-lg font-medium">Sketching</h2>
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">            
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Sketches/sketch11.jpg">
          </a>
          <div class="mt-4">
           
            <p class="mt-1">Birds</p>
          </div>
          
        </div>
        
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Sketches/sketch2.jpg">
          </a>
          <div class="mt-4">
            
            <p class="mt-1">Cityscape</p>
          </div>
        </div>
        
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a class="block relative h-48 rounded overflow-hidden">
              <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/USK/usk3.jpg">
            </a>
            <div class="mt-4">
              
              <p class="mt-1">Urban sketching</p>
            </div>
          </div>
          
        </div>
    </div>
</section>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-4 mx-auto">
        <h2 class="text-gray-900 title-font text-lg font-medium">Fabric Painting</h2>
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">            
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Fabric/fab1.jpg">
          </a>
          <div class="mt-4">
           
            <p class="mt-1">Jeans</p>
          </div>
          
        </div>
        
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Fabric/tsshirt.jpg">
          </a>
          <div class="mt-4">
            
            <p class="mt-1">T-Shirt</p>
          </div>
        </div>
          
        </div>
    </div>
</section>

<section class="text-gray-600 body-font">
    <div class="container px-5 py-4 mx-auto">
        <h2 class="text-gray-900 title-font text-lg font-medium">Murals</h2>
      <div class="flex flex-wrap -m-4">
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">            
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Murals/mural1.jpg">
          </a>
          <div class="mt-4">
           
            <p class="mt-1">Pegasus</p>
          </div>
          
        </div>
        
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
          <a class="block relative h-48 rounded overflow-hidden">
            <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Murals/mural2.jpg">
          </a>
          <div class="mt-4">
            
            <p class="mt-1">Home floral wreath</p>
          </div>
        </div>
        
        <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
            <a class="block relative h-48 rounded overflow-hidden">
              <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="./../../assets/images/paintings/Murals/mural3.jpg">
            </a>
            <div class="mt-4">
              
              <p class="mt-1">Patterns</p>
            </div>
          </div>
          
        </div>
    </div>
</section>